{% extends 'base.html.twig' %}


{% block ahmed1 %}
    <li class="active"><a href="{{ path('default') }}">Home</a></li>

    <li><a href="{{ path('create_compte_pack') }}">Register</a></li>


    <li><a href="{{ path('fos_user_security_login') }}">Log IN</a></li>

{% endblock %}
